.brand-img {
  position: absolute;
  width: 7.81%;
  height: 3.9%;
  left: 4.166%;
  top: 2.22%;
}

a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.781rem;
  line-height: 1.66%;
  color: #1E1F1E;
  text-decoration: none;
  position: absolute;
  height: 2.96%;
  top: 4.5%;
}

.getStarted {
  margin-left: 83.7%;
  font-weight: bolder;
  font-size: 13.5px;
}

.icon {
  position: absolute;
  right: 45px;
  top: 20px;
}

/* Form */
.green-box {
  position: absolute;
  width: 100%;
  height: 19.63%;
  left: 0;
  top: 80.369%;
  background: #19BAA8;
}

.form-box {
  background-image: url("Rectangle 364.png");
  position: absolute;
  width: 33.38%;
  height: 70.4%;
  left: 33.38%;
  top: 14.83%;
  background: #FFFFFF;
  box-shadow: 0 5.00741px 25.037px rgba(30, 31, 30, 0.06);
  border-radius: 5.00741px;
  z-index: 1;
}

.form-box:after {
  content: "";
  background: #00B4B3;
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 3px;
  width: 66.6%;
}

h1 {
  font-family: "Red Hat Display";
  padding-left: 17.3%;
  height: 31px;
  width: 317px;
  font-size: 1.878rem;
  top: 20.77%;
}

p {
  font-family: "Open Sans";
  line-height: 20px;
  font-size: 0.704rem;
  padding-left: 14%;
  color: #1E1F1E;
  margin-top: 1.1%;
}

h3 {
  font-family: "Red Hat Display";
  text-align: center;
  padding-top: 4.30%;
  margin-top: 0;
}

h4 {
  margin-top: 30px;
  font-family: "Open Sans";
  font-size: 0.939rem;
  padding-left: 7.24%;
  margin-bottom: 9px;
}

.input-text {
  position: absolute;
  width: 350px;
  height: 35px;
  left: 25px;
  top: 154px;
  background: #FFFFFF;
  border: 0.625px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 15px;
}

.confirm {
  color:  #F15C3E;
}

.tweb {
  margin-top: 6.651rem;
  position: absolute;
  left: -0.625rem;
  z-index: 1;
  width: 37.5%;
  height: 72.9%;
}

.tweb:after {
  content: "";
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  -webkit-box-shadow: 0px 250px 15px -35px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 250px 15px -35px rgba(0, 0, 0, .25);
  box-shadow: -129px 600px 10px -150px grey;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 90%;
  transform: scaleY(.3);
  -webkit-transform: scaleY(.3);
  -moz-transform: scaleY(.3);
  -ms-transform: scaleY(.3);
  -o-transform: scaleY(.3);
}

::placeholder {
  position: absolute;
  top: 7.5px;
  left: 15px;
  line-height: 20px;
  width: 150px;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  font-size: 12.5px;
  color: #1E1F1E;
}

.side-button {
  padding-top: 2px;
  width: 50px;
  height: 70px;
  color: #19BAA8;
  border: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 200px;
  text-align: center;
  left: 570px;
  border-radius: 5px;
  box-shadow: 0px 5px 25px rgba(30, 31, 30, 0.06);

}

.side-button:hover {
  color: #FFFFFF;
  background-color: #19BAA8;
}

.pure-button {
  border-color: #19BAA8;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 25px rgba(30, 31, 30, 0.06);
  border-radius: 4px;
  position: absolute;
  top: 322.5px;
  left: 160px;
  color: #19BAA8;
  padding: 5px;
}
